.horse-moves {
    box-sizing: border-box;
    margin: 0 auto;
    width: 30%;
    min-width: 300px;
    padding: 15px;
}

.horse-moves__title {
    text-align: center;
    font-size: 15px;
}

.horse-moves__form {
    display: flex;
    flex-direction: column;
}

.horse-moves__label {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-weight: bold;
}

.horse-moves__input {
    width: 80%;
    height: 20px;
    margin-bottom: 20px;
    padding-left: 5px;
    &:focus::placeholder {
        color: transparent;
        transition: 0.3s;
    }
}

.horse-moves__btn {
    width: 40px;
    cursor: pointer;
    font-weight: bold;
}